#moreInfoMainButton{
  height: 10em;
  width: 20em;
}

#mainFlex {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap if needed */
}

#mainTemp {
  flex-basis: calc(50% - 10px); /* Set the initial width to half of the container width minus margin */
  margin-right: 10px; /* Add margin to create space between mainTemp and otherContent */
  display: flex;
  flex-direction: column;
}

#mainOtherContent {
  flex-basis: calc(50% - 10px); /* Set the initial width to half of the container width minus margin */
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap if needed */
}

#mainOtherContent > div {
  flex: 1 0 33.33%; /* Each item occupies one-third of the available width */
  margin: 5px; /* Add margin to create space between items */
}

p{
  color:rgb(0, 0, 0) ;
}


.hourly-button:hover {
  background-color: #e0e0e0;
}

.hourly-button.expanded {
  display: flex;
  max-height: 10rem;
  width: 40rem;
}
.hourly_col{
  flex: 1 0 33.33%;
  align-self: center;
}

.hourly_icon{
  max-width: 3rem;
}

