:root {
  /* For light mode */
  --primary-bg-color: #f7f7f7;
  --primary-text-color: #333;
  --primary-background-image:  url('./light-background.jpg');
  --primary-container-color: #f7f7f7;
  --primary-button-color: #D9D9D9;
  --primary-hover-color: #ececec;
  --primary-shadow-color:  #79797983;
  --primary-bar-color: #9b9b9b;
}

:root[data-theme='dark'] {
  /* For dark mode */
  --primary-bg-color: #333;
  --primary-text-color: #f7f7f7;
  --primary-background-image:  url('./dark-background.jpg');
  --primary-container-color: #8B8B8B;
  --primary-button-color: #363636;
  --primary-hover-color: #36363647;
  --primary-shadow-color:  #00000060;
  --primary-bar-color: #dcdcdc;
}

.help-page{
  text-align: center;
}

#modeButtons {
  display: flex;
  justify-content: center;
  gap:50px;
}

#helpList li{
  padding-bottom: 20px;
  margin-left: 2px;
  text-align: start;
}

h3{
  font-size: 1.3em;
}

#mainSeperate{ /* For the dividing bar in the main weather section*/
  border-width:5px;
  border-radius: 10px;
  border-color: var(--primary-bar-color);
}

.mainFlexP{
  font-size: 2em;
}

button.main-button { /*expands the main weather section*/
  width: 900px;
}

p{
  color: var(--primary-text-color); /*allows the weather data text to change colour with the theme*/
}


body {
  background-color: var(--primary-bg-color); /*sets up the background based on the current theme*/
  color: var(--primary-text-color);
  background-image: var(--primary-background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


#root {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 20px;
min-height: 100vh;
font-family: Arial, sans-serif;

}

h1 {
color: var(--primary-text-color); /*changes the Pilot Weather App text colour based on the theme and keeps it in the center of the screen*/
margin-bottom: 20px;
font-size: 28px;
text-align: center;
}

h2 {
  font-size: 25px; /*centeres the warning message*/
  text-align: center; 
}

h3{
  color: var(--primary-text-color); /*changes colour for main info weather text based on theme*/
}

a {
color: var(--primary-text-color); /*gives a border for the help and map buttons*/
text-decoration: none;
display: inline-block;
padding: 8px 16px;
border: 2px solid var(--primary-text-color);
border-radius: 5px;
transition: background-color 0.3s, color 0.3s;
font-size: 1.4em;
}

a:hover {
background-color: var(--primary-text-color); /*changes colour based on theme when the buttons are hovered*/
color: var(--primary-bg-color);
}

button {
padding: 10px 20px; /*gives the get weather and toggle theme buttons a nicer look*/
background-color: var(--primary-button-color);
color: var(--primary-bg-color);
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s, color 0.3s;
box-shadow: 5px 5px var(--primary-shadow-color);
}

.opposite_buttons{
  color: var(--primary-text-color); 
  font-size: 1.4em;
}
.buttons{ 
  display: flex; /*allows the buttons at the bottom of the screen to be aligned horizntally as well as giving them the container around them*/
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  background-color: var(--primary-container-color, 0.8);
  border-radius: 10px; 
  padding: 20px; 
  max-width: 900px; 
  margin: 0 auto;
  transition: background-color 0.5s ease;
  margin-top: 0.75rem;
  text-align: center;
  gap: 20px;
  box-shadow: 5px 5px var(--primary-shadow-color);

}

button:hover {
background-color: var(--primary-bg-color); /*changes colour based on theme when the buttons are hovered*/
color: var(--primary-text-color);
}


.section {
margin-bottom: 40px;
padding: 20px;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.map-section {
background-color: var(--primary-bg-color);
}

.help-section {
background-color: var(--primary-bg-color);
}


@media (max-width: 768px) {
h1 {
  font-size: 24px;
}
a,
button {
  padding: 8px 12px;
  font-size: 14px;
}
.section {
  padding: 15px;
}
}

.map-button,
.theme-toggle-button,
.help-button {
margin-bottom: 10px;
}

@media (max-width: 768px) {
.footer {
  flex-direction: column;
  align-items: stretch;
}

.map-button,
.theme-toggle-button,
.help-button {
  width: 100%;
  margin-bottom: 10px;
}
}

/*This css file changes the layout of the main weather screen, giving it a more professional feel, such as changing colour during theme (light/dark) change or by allowing 
the mouse pointer to hover over elements*/

.container,#helpList, .help-page {
  background-color: var(--primary-container-color, 0.8); /*allows the main weather section to have a nice border container around it*/
  border-radius: 10px; 
  padding: 20px; 
  max-width: 900px; 
  margin: 0 auto;
  transition: background-color 0.5s ease;
  margin-top: 0.75rem;
  text-align: center;
}

.container1 {
  background-color: var(--primary-container-color, 0.8); /*allows the name of the city section to have a nice smaller border container around it*/
  border-radius: 10px; 
  border-radius: 10px; 
  padding: 10px; 
  max-width: 200px; 
  transition: background-color 0.5s ease;
  margin-bottom: 0.5rem;
  text-align: center;
  margin: 0 auto;
  box-shadow: 5px 5px var(--primary-shadow-color);
}


#helpList{
  background-color: var(--primary-button-color);
}


.main-button:hover {
  background-color: var(--primary-hover-color);
}

.hourly-button:hover {
  background-color: var(--primary-hover-color);
}

.hourly-button.expanded { /*creates a new bigger size when a hourly button is pressed */
  display: flex;
  max-height: 10rem;
  width: 40rem;
}
.hourly_col{ 
  flex: 1 0 33.33%; /*organises the data when the hourly button is expanded*/
  align-self: center;
}


.hourly_icon{
  max-height: 2rem; /*makes sure the icon fits in the button*/

}

.hourly_icon1{
  max-width: 3rem; /*makes sure the icon fits in the button*/
}

.wind_icon{
  max-width: 1rem; /*makes sure the icon fits in the button*/
}

.visibility_icon{
  max-width: 1rem; /*makes sure the icon fits in the button*/
}


.hourly_container {
  background-color: var(--primary-container-color, 0.8); /*allows the hourly weather section to have a nice border container around it*/
  border-radius: 10px; 
  padding: 20px; 
  max-width: 900px; 
  margin: 0 auto;
  transition: background-color 0.5s ease;
  margin-top: 10px;
  display: flex; /*organises the 4 hourly buttons in an even way*/
  justify-content: space-evenly;
}

.hourly-button{
  width: 8rem; /*sets paramenters for the hourly button*/
  max-height: 8.5rem;

}

.hourly-button p{
  margin-bottom: 0px; /*changes the text of the data inside the hourly button*/
  font-size: 15px;
  font-weight: bolder;
}

.hourly-time{
  margin-top: 0px;
}

.header{
  text-align: center;
  margin-bottom: 8px;
}

#weatherForm{
  display: flex; /*allows some space between the input box and get weather button*/
  justify-content: center;
  gap: 1rem;

}

.search_bar{
  border-radius: 15px; /* makes the input box rounder*/
  font-size: 1.4em;
  box-shadow: 5px 5px var(--primary-shadow-color);
}

.back_next_buttons{
  display: flex; /*organises the next and back buttons that change colour with the theme*/
  justify-content: space-between;
  margin: 0rem;
  color: var(--primary-text-color);
}

.flex-item {
  display: flex; /*organises the data in the hourly buttons*/
  align-items: center;
  justify-content: space-evenly;
}

.flex-item1 {
  display: flex; /*organises the data in the hourly buttons*/
  justify-content: space-evenly;
  align-items: center;

}

.flex-item1 img{
  margin-left: -5px;
}
.flex-item img{
  padding-top: 9px;
}

